<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.encuentrame.encuentrame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Vista.MenuVista.VistaMenu"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity
            android:name=".Vista.VistaRegistro.VistaRegistro"
            android:label="@string/title_activity_vista_producto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vista.ProductoView.VistaProductoDetalle"
            android:label="@string/title_activity_vista_producto_detalle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vista.LoginView.VistaLogin"
            android:label="@string/title_activity_vista_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vista.SplashScreenActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".Vista.PrincipalView.HomeActivity" />
    </application>

</manifest>